@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Normalize
@import 'normalize';

// Base styles
@import 'root';

// Assets and components
@import 'assets';
body {
    font-family: "Inter", sans-serif;
}
.container {
    max-width: 1320px;
    width: 100%;
    padding: 0 10px;
    margin: 0px auto;
}
.hero {
    background-image: url("../img/heroBg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    &__navbar {
        padding: 12px 0;
        border-bottom: 1px solid #C5C6C8
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        display: flex;
        align-items: center;
        gap: 10px;
        ul {
            display: flex;
            gap: 10px;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: #fff;
                    border-bottom: 1px solid transparent;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 400;
                    &:hover {
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
    &__block-item-phone {
        display: flex;
        align-items: center;
        gap: 5px;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
        }
    }
    &__block-navbar-brand {
        img {
            max-width: 110px;
        }
    }


    &__intro {
        padding: 50px 0;
    }
    &__intro-content {
        margin: 80px auto;
        text-align: center;
        color: #fff;
    }
    &__intro-title {
        h1 {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 68px;
        }
        p {
            font-size: 18px;
            font-weight: 400;
            margin: 60px auto;
            max-width: 720px;
            text-align: center;
        }
        .main__btn-outline {
            margin: 14px 0;
        }
    }
}